body {
    background-image: url(bg.png);
    background-repeat: repeat;
    background-size:400px;
    background-color: rgb(233, 209, 253);
}
h1 {
    font-family: 'Courier Prime', monospace;
    font-size: 50px;
    margin:60px;
    margin-bottom:10px;
    text-shadow: -1.5px 0 white, 0 1.5px white, 1.5px 0 white, 0 -1.5px white;
    text-align: center;
}
img {
    height: 400px;
}
p {
    font-family: 'Courier Prime', monospace;
    font-size: 22px;
    background-color:white;
    height:185px;
    width:360px;
    border-radius:35px;
    padding:25px;
}
.container {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.zodziai {
    display:inline-block;
    text-align:left;
}
button {
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
    font-size: 30px;
    background-color:white;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:20px;
    padding-right:20px;
    text-align:center;
    border-radius:35px;
    margin:15px;
    margin-left:0px;
    border:0px;
    transition: 0.4s;
}
button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}