h1 {
    color:#b3b300;
    background-color: aquamarine;
}
body{
    background-color: pink;
}

.zalia
{
    font-size: 20pt;
    color:green;
}

h1.centre
{
    text-align: center;
    font-family: Arial;
}
img{
    height: 250px;
    border: 2px solid purple;
}